
@font-face {
    font-family: TitleFont;
    src: url(assets/fonts/HydrophiliaLiquid-Regular.ttf)
}

.site-icon{
    margin-right: 10px;
}
#site-nav{
    font-family: TitleFont;
    width: 100%;
    overflow: hidden;
    
}
 #currencies{
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: center;
    background:#212227;
} 
.parallax{
    background-image: url("assets/images/maxim-hopman-fiXLQXAhCfk-unsplash.jpg");
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body,html {
    height: 100%;
    /* margin:5px; */
    background-color: #6e8f9e;
    position: relative;
    /* background-repeat: no-repeat; */
}
body{
    display: flex row;
    justify-content: center;
}

img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
@media all and (max-width: 500px) {
    .currencies {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
}

.currency-card {
    margin: 10px;
    width: 240px;
    height: 260px;
    border: 1px solid black;
    border-radius: 10px;  
    overflow: hidden;    
    background-color: #7DF9FF;
    display: inline-block;
    opacity:0.9;

}

.loader {
    margin-top: 3px;
    margin-left: 2px;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 1s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.currency-card:hover{
    opacity: 1;
} 
.footer>p{
    margin :5px;
}
.footer{
    /* position: fixed;
    left: 0;*/
    bottom: 0; 
    width: 100%;
    background-color: #435b6d;
    color: white;
    text-align: center;
}

.card-title {
    display: inline-block ;
    padding: 0% ;
}

.my-paragraph {
    position: absolute;
    padding-top: 4px;
}
.card-text{
    margin: 10px !important;
}
.switch{
    margin-left: 100px;
    display: inline-block;
}
#more-info-price{
    margin : 2px;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 40px;
    height: auto;
    /* color: white; */
    padding: 3px 10px;
    /* background: linear-gradient(331deg, #303131 10%,#8c8c8f 69%); */
     text-shadow: 0px 2px 4px #919191; 
    border: 1px outset #636363;
     box-shadow: 3px 3px 12px #a5a3a3; 
     border-radius: 50%; 
  }
  
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }/*
  #backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    padding: 3px 10px;
}*/
  .input-name{
      margin: 50px auto;;
      height: 40px;
      /* text-align: center; */
      /* font-size: xx-large; */
      /* align-content: center; */
  }

#specific-currency{
    text-align: center;
    width: 350px;
    height: auto;
    margin: 5px;
    display: inline-block;
}
#menu>button{
    width: 150px;
}
#menu{
    background-color: #343a40;
    margin: auto;
    display:flex;
    align-items: baseline;
    align-content: center;
    justify-content: center;
}
