body,html {
    height: 100%;
    /* margin:5px; */
    background-image: url("assets/images/backgroundimage.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
}

img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}


.currency-card {
    margin: 10px;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;  
    background-color: aliceblue;
    display: inline-block;
}
/* .currency-card:hover{
    opacity: 1;
} */

.card-title {
    display: inline-block ;
    padding: 0% ;
}

.my-paragraph {
    position: absolute;
    padding-top: 4px;
}

.switch{
    margin-left: 100px;
    display: inline-block;
}

.currency-header{
    
}